body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f8fafc;
  color: #333;
}

/* HEADER */
header {
  background: linear-gradient(135deg, #4f8bff, #6ca8ff);
  color: white;
  padding: 25px;
  text-align: center;
  border-radius: 14px;
  font-size: 1.6rem;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

/* LESSON GRID */
.container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.lesson-card {
  background: white;
  border-radius: 14px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.25s ease;
}

.lesson-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

/* IMAGES */
.img-div {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 12px;
}

/* TEXT INSIDE CARD */
.lesson-desc p {
  margin: 5px 0;
  font-size: 0.95rem;
}

/* BUTTONS */
button {
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  transition: 0.25s;
  font-size: 0.95rem;
}

.add-btn,
.view-cart-btn {
  background: #4f8bff;
  color: white;
  width: 300px !important;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  

  /* margin-right: auto !important;
  position: absolute;
  right: auto; */
}

.add-btn:hover,
.view-cart-btn:hover {
  background: #3a73e0;
}

.add-btn:disabled,
.view-cart-btn:disabled {
  background: #c5c5c5;
  cursor: not-allowed;
}

.search-box {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 15px auto 25px auto;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  font-size: 1rem;
}

.cart-box {
  background: white;
  max-width: 800px;
  margin: 25px auto;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.cart-box h2 {
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-list li {
  background: #f9fbff;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
  align-items: flex-start;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.cart-list li img {
  width: 130px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
}
